<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <link href="..\static/bootstrap.min.css" rel="stylesheet">
    <link href="..\static/font-awesome.min.css" rel="stylesheet">
    <link href="..\static/animate.min.css" rel="stylesheet"> 
    <link href="..\static/lightbox.css" rel="stylesheet"> 
	<link href="..\static/main.css" rel="stylesheet">
	<link href="..\static/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap&subset=cyrillic" rel="stylesheet"> 
</head><!--/head-->

<body>

    <header id="header">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle navbar-hamburger"  href="menu.html">
                      <div><img src="..\static\Hamburger.png" alt="Здесь должен быть бургер"  > </div>
                    </a>

                    <a class="navbar-brand" href="index.html">
                    	<div class="logo" style="margin: 10%;"><img src="..\static/newbook.png" alt="logo"></div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <div id="wrapper" style="margin-left: 25px; margin-right:25px; margin-top:17px;">
        <div class="reg" style=" width:100%">
            <div class="form">
                <form action="/action" method="post" style="display: flex; flex-direction: column;">
                    <label for="nazbook">Полное название книги</label> 
                    <textarea type="text" name="nazbook" id="nazbook"  style="resize: none; border: 1px solid #C1C7D0; box-sizing: border-box; border-radius: 8px; padding-left:15px; padding-top:8px; padding-bottom:8px; padding-right: 64px; color:#A5ADBB;" > Введите название</textarea>
                    <label for="auth">Автор</label>
                    <input type="text" name="auth" id="auth"  style="border: 1px solid #C1C7D0; box-sizing: border-box; border-radius: 8px; padding-left:15px; padding-top:8px; padding-bottom:8px; padding-right: 64px;" placeholder="Фамилия, инициалы автора"> 
                    <label for="col">Количество экземпляров в библиотеке</label>
                    <input type="text" name="col" id="col"  style="border: 1px solid #C1C7D0; box-sizing: border-box; border-radius: 8px; padding-left:15px; padding-top:8px; padding-bottom:8px; width:25%" placeholder="1">
                    <label for="obl">Обложка</label>
                    <input  type="file"  name="obl" id="obl"  style="border: 1px solid #C1C7D0; box-sizing: border-box; border-radius: 8px; padding-left:15px; padding-top:8px; padding-bottom:8px; width:60%" placeholder="1">
                    <button   type="submit" name="save" id="otpr" style=" margin-top:22px; background: #C1C7D0; border-radius: 8px; text-align:center; width:276px; height:40px; border:none; text-align:center; width:100%; "> Добавить и сгенерировать QR-код</button>
                </form>
            </div>
            <div style="font-family: 'Roboto'; font-size: 12px; line-height: 17px; text-align:center; padding-left:5%; padding-right:5%; margin-top:19px;">
                Вы всегда сможете посмотреть QR-код на странице книги
            </div>
        </div>
            
    </div>

    <script type="text/javascript" src="..\static/jquery.js"></script>
    <script type="text/javascript" src="..\static/bootstrap.min.js"></script>
    <script type="text/javascript" src="..\static/lightbox.min.js"></script>
    <script type="text/javascript" src="..\static/wow.min.js"></script>
    <script type="text/javascript" src="..\static/main.js"></script>   
</body>
</html>
