<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <link href="..\static/bootstrap.min.css" rel="stylesheet">
    <link href="..\static/font-awesome.min.css" rel="stylesheet">
    <link href="..\static/animate.min.css" rel="stylesheet"> 
    <link href="..\static/lightbox.css" rel="stylesheet"> 
	<link href="..\static/main.css" rel="stylesheet">
	<link href="..\static/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap&subset=cyrillic" rel="stylesheet"> 
</head><!--/head-->

<body>
	<header id="header">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle navbar-hamburger" >
                      <div><img src="..\static\Hamburger.png" alt="Здесь должен быть бургер"  > </div>
                    </a>

                    <a class="navbar-brand" href="index.html">
                    	<div class="logo" style="margin:17%"><img src="..\static/logo.png" alt="logo"></div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <div id="wrapper">
        <div class="select">
            <select id="selectID">
                <option value=”GR”>Выбeрите организацию</option>  
                <option value=”YE”>Selectel</option>   
            </select> 
            <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg" style="position: absolute; margin-left: -30px; margin-top: 19px;">
                <path d="M1 1L7 7L13 1" stroke="#383B41" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </div>
            
    </div>

    <script type="text/javascript" src="..\static/jquery.js"></script>
    <script type="text/javascript" src="..\static/bootstrap.min.js"></script>
    <script type="text/javascript" src="..\static/lightbox.min.js"></script>
    <script type="text/javascript" src="..\static/wow.min.js"></script>
    <script type="text/javascript" src="..\static/main.js"></script>   
</body>
</html>
