<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Triangle</title>
    <link href="\static/bootstrap.min.css" rel="stylesheet">
    <link href="\static/font-awesome.min.css" rel="stylesheet">
    <link href="\static/animate.min.css" rel="stylesheet"> 
    <link href="\static/lightbox.css" rel="stylesheet"> 
	<link href="\static/main.css" rel="stylesheet">
	<link href="\static/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap&subset=cyrillic" rel="stylesheet"> 
</head><!--/head-->

<body>
	<header id="header">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle navbar-hamburger" href="menu.html">
                      <div><img src="\static\Hamburger.png" alt="Здесь должен быть бургер"  > </div>
                    </a>

                    <a class="navbar-brand" href="index.html">
                    	<div class="logo" style="margin:17%"><img src="\static/logo.png" alt="logo"></div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    <div id="wrapper" style="margin-left:5%; margin-top:10%; margin-right:5%;">
        <div class="kniga">
            <div class="zapros" style="margin-bottom: 25px;">
                <p style="text-align: center;">Книга</p>
                <div> </div>
                <p style="text-align: center;">успешно <b>возвращена</b> на полку <img src="\static/Strelka.png" alt="Здесь тоже накосячил" style="margin-left: 7px; margin-top: -1px;"></p>
            </div>
            <div class="textlist textlist1">
                <div style="margin-left: 10%; margin-right: 10%;">
                    <p style="margin-top: 28.5px;">
                            Ждём вас снова!
                    </p>
                    <p>
                        В любой момент Вы можете взять книгу, отсканировав QR-код
                    </p>
                </div>
                
            </div>
        </div>
            
    </div>

    <script type="text/javascript" src="\static/jquery.js"></script>
    <script type="text/javascript" src="\static/bootstrap.min.js"></script>
    <script type="text/javascript" src="\static/lightbox.min.js"></script>
    <script type="text/javascript" src="\static/wow.min.js"></script>
    <script type="text/javascript" src="\static/main.js"></script>   
</body>
</html>
